<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div id="bs" class="about-section-box bg-light">
    <div class="container">
     <h1 class="display-4 text-center text-dark">Elektronik City</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img  src="../assets/img/el.jpg" alt="" height="450" width="500" >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 text-center">
          <div class="inner-column">
            <button id="tombol_yellow">Kuning</button>
            <h1>Selamat Datang di <span>Elektronik City</span></h1>
            <h4>Sejarah Singkat</h4>
            <h1>Elektronik City merupakan Kota yang penuh dengan elektronik yang sangat Ter-Update, dan Terjangkau.</h1>
            <h1>Yang dimana akan selalu tersedia, dan menerima pelanggan seperti keluarga.</h1>
            <h1>Siap dalam waktu 24 Jam. Dari Online Walaupun Offline</h1>
      
          </div>
        </div>
      </div>
    </div>
  </div>