<div class="album py-5 bg-light">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="card shadow-sm">
          <img src="../assets/img/l.jpg" alt="">
          <div class="card-body">
            <h3>Laptop</h3> 
            <p>Menyediakan Laptop dari yang Baru, hingga Second.</p>  
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-dark">Detail</button>
          </div>
          <br>
        </div>
        <div class="card shadow-sm">
          <img src="../assets/img/a.jpg" alt="">
          <div class="card-body">
            <h3>Aksesoris Smartphone</h3> 
            <p>Menyediakan Aksesoris yang terjangkau, dan ORIGINAL</p>    
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-dark">Detail</button>
          </div>
          <br>
        </div>
        <div class="card shadow-sm">
          <img src="../assets/img/s.jpg" alt="">
          <div class="card-body">
            <h3>Smartphone</h3>    
            <p>Menyediakan Smartphone yang Terupdate dan Terjangkau.</p>    
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-dark">Detail</button>
          </div>
          <br>
        </div>
        
      </div>
    </div>
  </div>
  